.note {
  display: block;

  padding: var(--note-padding);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.082);

  word-break: break-word;
  break-inside: auto;
  border-radius: 4px;

  overflow: ellipsis;
  margin-bottom: 12px;
}

.note-heading {
  position: relative;
}

.note:hover {
  color: rgb(88, 40, 0);
}

.note-title {
  /* background-color: rgba(75, 75, 75, 0.062); */
  border-radius: 4px;
  padding: 0 0 6px;

  font-family: var(--title-font);
  font-size: 1rem;
  font-weight: 400;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.02rem;

  transition: var(--default-transition);
}
.note-title:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.note-content {
  margin-left: 3px;
  font-family: var(--content-font);
  font-weight: lighter;
  font-size: 0.7rem;
  letter-spacing: 0.015rem;

  display: inline;
  text-align: justify;

  transition: var(--default-transition);
}

.note-content:hover {
  transform: translateX(6px);
}

.note-time {
  font-style: italic;
  font-size: 0.7rem;
  margin: 2px 6px;
}

.note-time-updated {
  display: block;
  text-align: right;
}

.notes-day {
  padding: var(--note-padding);
  margin: 6px;

  font-family: var(--long-date-font);
  font-size: 0.8rem;
  font-weight: 500;
  color: #4a4a4a;

  text-decoration: underline;
  font-style: italic;
  margin-bottom: 2px;
  display: inline-block;

  transition: var(--default-transition);
}
.notes-day:hover {
  transform: scale(1.04);
}

.note .delete-note-btn {
  z-index: 10;
  all: unset;
  display: none;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 6px;

  width: 24px;
  height: 24px;
}
.note:hover .delete-note-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
