* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --header-color: rgba(82, 48, 21, 0.85);

  --note-padding: 0 1% 0 3%;
  --title-font: "Caveat Brush", cursive;
  --content-font: "Comic Sans MS", "Comic Sans", cursive;
  --long-date-font: "Amatic SC", cursive;
  --default-transition: all 0.2s ease;

  --def-border-color: rgba(0, 0, 0, 0.15);
  --new-note-btn-col: rgba(173, 173, 173, 0.527);

  --def-border-radius: 6px;
  --form-content-padding: 6px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: linear-gradient(
    140deg,
    #1e1f22,
    /* deep charcoal night */ #2a2b2f,
    /* moonlit grey */ #3a342a,
    /* warm dusk shadow */ #4a3b2a /* sunset ember */
  );
  background-size: 600% 600%;
  animation: duskDrift 30s ease-in-out infinite;

  position: relative;
}

@keyframes duskDrift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
